{
  "env": {
    "mocha": true
  },
  "globals": {
    "shallow":true,
    "spy":true,
    "mount":true
  },
  "extends": "@folio/eslint-config-stripes",
  "overrides": [
    {
      "files": ["lib/**/tests/*"],
      "rules": {
        "no-unused-expressions": "off",
        "func-names": "off"
      }
    }
  ],
  "parser": "babel-eslint",
  "rules": {
    "max-len": ["warn", { "code": 120 }],
    "no-console": ["error", {
      "allow": ["warn", "error"]
    }],
    "react/sort-prop-types": ["error"]
  }
}
